*{ box-sizing: border-box; }

h1{ 
    font-family: lust,serif;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    color: rgb(96,99,128);
} 

h2{
    font-family: lust,serif;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
    color: rgb(96,99,128);
}

h3{
    font-family: komet,sans-serif;
    font-weight: 400;
    font-style: medium;
    color: rgb(96,99,128);
}

p{
    font-family: komet,sans-serif;
    font-weight: 400;
    font-style: 24px;
    color: rgb(96,99,128);
}

body {background-color: rgb(251,243,238);
}

.blogtext{
  font-size: 14px;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    overflow: auto;
    display: flex;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 8 px; 
    width: 10%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color:  rgb(213,186,190);
}
  
  /* Style the current/active link */
  .navbar a.active {
    border-bottom: 3px solid rgb(96,99,128);
    
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: center; /* If you want the text to be left-aligned on small screens */
    }
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: komet,sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(96,99,128); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(96,99,128);
    color:  rgb(251,243,238);
    font-family: lust,serif;
    font-weight: 700;
    font-style: normal;
    font-size: small;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color:   rgb(251,243,238);
    padding: 20px;
    font-family: komet,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .two-colum{ display: flex;
    flex-wrap: wrap;
  }
  .two-colum  div { 
    flex: 50%;
  }

  .book{
    display: flex;
  }